<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>安居源-南京藤蔓达网络科技有限公司</title>
	<meta name="keywords" content="南京藤蔓达网络科技有限公司">
	<meta name="description" content="南京藤蔓达网络科技有限公司务涉及网站开发，手机APP开发，以及游戏开发运营等，
	秉承“助力职场，成就梦想”的理念，致力于中国移动互联网研发人才一体化服务，全力打造移动互联网高端研发人才服务平台。
	 集团目前拥有100多项专利产品，50多个APP项目，500家合作企业。">
	<meta name="viewport" content="width=device-width,initial-scale=1,
		maximum-scale=1,minimum-scale=1,user-scalable=no">
	<link rel="stylesheet" href="../../public/css/me/me.css">
</head>
<body>
	<header class="header">
		我 <img src="../../public/img/me/nav_set_icon@2x.png" alt="">
	</header>

	<div class="info_box"></div>

	<div class="news_interval"></div>
	<footer class="bottom_nav">
		<div class="bottom_icon" id="bottom_home_cell" onclick="hrefToHome()">
			<img src="../../public/img/information/bottom_press_icon04@2x.png" alt="">
			<p class="active">首页</p>
		</div>
		<div class="bottom_icon" id="bottom_news_cell" onclick="hrefToAppointment()">
			<img src="../../public/img/information/bottom_nor_icon03@2x.png" alt="">
			<p>预约</p>
		</div>
		<div class="bottom_icon" id="bottom_add_cell" >
			<img id="more" src="../../public/img/information/bottom_icon05@2x.png" alt="">
		</div>
		<div class="bottom_icon" id="bottom_appointment_cell" onclick="hrefToNews()">
			<img src="../../public/img/information/bottom_nor_icon02@2x.png" alt="">
			<p>信息</p>
		</div>
		<div class="bottom_icon" id="bottom_me_cell" onclick="hrefToMe()">
			<img src="../../public/img/information/bottom_nor_icon01@2x.png" alt="">
			<p>我</p>
		</div>
	</footer>
</body>
<script>
function hrefToHome(){location.href="../homepage/home.html"}
function hrefToAppointment(){location.href="../appointment/appointment.html"}
function hrefToNews(){location.href="../information/news.html"}
function hrefToMe(){location.href="../me/me.html"}
</script>
</html>