body {
  background: #efeff4;
  margin: 0;
  font-family: "Arial", " Heiti SC", "宋体", sans-serif;
}
.header {
  font-size: 20px;
  text-align: center;
  background: #fff;
  color: #323232;
  line-height: 20px;
  padding: 3% 3%;
  border-bottom: 1px solid #d6d7dc;
}
.header img {
  padding: 14px 12px;
  width: 16px;
  position: absolute;
  right: 0;
  top: 0;
}
footer.bottom_nav {
  width: 100%;
  background: #fff;
  padding: 2% 0;
  border-top: 1px solid #d6d7dc;
  position: fixed;
  bottom: 0;
  display: flex;
}
footer.bottom_nav div.bottom_icon {
  flex: 1;
  text-align: center;
}
footer.bottom_nav div.bottom_icon img {
  width: 21px;
}
footer.bottom_nav div.bottom_icon img#more {
  width: 42px;
}
footer.bottom_nav div.bottom_icon p {
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  color: #b4b4b4;
}
footer.bottom_nav div.bottom_icon p.active {
  color: #ea5404;
}
