$orange=#ea5404
body
  background #efeff4
  margin 0
  font-family "Arial"," Heiti SC","宋体",sans-serif
ul
  padding 0
  list-style: none
  margin 0
  li
    list-style: none
    margin 0
    padding 25px 0
.header
  font-size 20px
  text-align center
  background #FFFFFF
  color $orange
  line-height 20px
  padding 3% 3%
  border-bottom 1px solid #d6d7dc
  img
    width 18px
  span
    float left
.interval
  padding 2%
  font-size 10px
  color #cccccc
section
  background #ffffff
  font-size 18px
  border-top 1px solid #d6d7dc
  border-bottom 1px solid #d6d7dc
  color #333333
  padding 10px 12px
  .add_portrait_box
    display flex
    justify-content center
    .add_portrait
      width 64px
      height 64px
      line-height 64px
      background #878787
      color white
      border-radius 50%
      text-align center
      font-size 10px
      position relative
      input
        position absolute
        left 0
        border-radius 50%
        width 64px
        height 64px
        outline-color #878787
        opacity 0
  .input
    line-height 30px
    display flex
    justify-content center
    input
      width 66%
      padding 0 8px
      height 30px
      background #efeff4
      border 1px solid #e1e1e1
      border-radius 4px
      outline none
  .white_space
    height 5px
  .line_box
    display flex
    justify-content center
    padding 10px 0
    .line_half
      width 50%
      height 1px
      border-top 1px Solid #d6d7dc
.others
  margin-top 8%
  display flex
  .others_content
    text-align center
    color white
    border-radius 4px
    background #878787
    flex 4
    font-size 12px
  .others_interval
    flex 1
.btn_login
  width 94%
  position relative
  left 12px
  right 12px
  margin-top 40px
  height 44px
  font-size 18px
  color #ffffff
  background $orange
  border 0
  outline none
  border-radius 5px



