body
  background #efeff4
  margin 0
  font-family "Arial","Microsoft YaHei","黑体","宋体",sans-serif
.city
  font-size 14px
  color white
  position fixed
  left 12px
  top 14px
  z-index 3
  img
    padding-left 6px
    width 9px
.search_box
  width 100%
  color #b4b4b4
  background white
  height 32px
  line-height 32px
  border-radius 4px
  input
    width 124px
    border 0
    outline-color #ccc
  img
    width 13px
.header
  width 100%
  font-size 14px
  text-align center
  color white
  overflow hidden
  position relative
  .header_nav
    background url("../../img/homepage/banner_img_shadow@2x.png") no-repeat fixed top
    background-size 100%
    width 94%
    position absolute
    top 0
    padding 0 3%
    z-index 2
    h3
      margin-top 0
      padding 14px 0 2px
ul
  margin 0
  padding 0

li
  list-style none
ul.circle_box
  width 100%
  display flex
  justify-content center
  position absolute
  bottom 12px
  li.circle_btn
    float left
    width 10px
    height 10px
    padding 0 2px
    background url("../../img/homepage/banner_icon_point_nor@2x.png") no-repeat
    background-size 50%
    img
      width 7px
  li.active
    background url("../../img/homepage/banner_icon_point_press@2x.png") no-repeat
    background-size 50%
ul.carousel
  margin-left -0px
  width 400%
  li
    float left
    width 25%
    img
      width 100%
nav.menus
  border-bottom 1px solid #d6d7dc
  margin-top 12px
  display flex
  padding 12px 0
  color #646464
  background #fff
  .menu_active
    color #ea5404
  .menu
    flex 2
    text-align center
    position relative
    &:after
      content ''
      position absolute
      top 0
      right 0
      width 1px
      height 60%
      background-color #d6d7dc
    h5
      margin 0
      line-height 10px
    img
      width 7px
    img.down_active
      display none
  .menu#menu_money
    flex 1
    &:after
      content ''
      width 0
    img
      width 18px

div.regions_hidden_box
  position absolute
  width 100%
  color #323232
  font-size 14px
  display none
  z-index 4
  .regions
    width 50%
    float left
    background #f0f0f0
    .reg
      box-sizing border-box
      padding 0 12px
      width 100%
      height 3em
      line-height 3em
    .reg.act
      background #fff
  div#regions_details
      height 27em
      background #fff
      position relative
    div.reg
      position absolute
    .hide
      display none
    #allreg
      display block
    p
      margin 0
      border-bottom #e1e1e1 1px solid
    li:nth-child(1)
      color #ea5404
.hide
  display none


section.details
  display flex
  padding 12px
  background #fff
  border-bottom 1px solid #d6d7dc
  margin-bottom 5px
  .details_pic
    flex 2
    img
      width 128px
  .details_txt
    flex 3
    position relative
    padding-left 12px
    .detail_like
      background-image url("../../img/homepage/collect_icon_nor@2x.png")
      background-repeat  no-repeat
      background-size 14px 13px
      width 14px
      height 14px
      position absolute
      right 0
      top 0
    h3
      color #323232
      margin  0
      font-size 0.9em
    p.detail_address
      color #646464
      font-size 0.8em
      margin  0
    button
      border 1px solid #ea5404
      color #ea5404
      border-radius 4px
      background #fff
      margin 4px 0
    p.detail_data
      font-size 0.8em
      color #646464
      margin  0
      line-height 2em
      i
        color #ea5404
        font-style normal
        font-size 1.6em
    span.detail_data_Commission
      font-size 0.8em
      color #646464
      position absolute
      right 0
      bottom 8px

.new_interval
  padding 7.5% 0
footer.bottom_nav
  width 100%
  background white
  padding 2% 0
  border-top 1px solid #d6d7dc
  position fixed
  bottom 0
  display flex
  div.bottom_icon
    flex 1
    text-align center
    img
      width 21px
    img#add
      width 42px
  div.bottom_icon#bottom_add_cell
      position relative
    #other_choice
      width 200%
      height 3em
      text-align center
      line-height 3em
      position absolute
      top -3em
      left -50%
      background #c5c5c5
      color #666666
      font-size 12px
      display none
      span
        flex 1
    p
      margin 0
      font-size 12px
      line-height 12px
      color #b4b4b4
    p.active
      color #ea5404

