<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登录</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,
		maximum-scale=1,minimum-scale=1,user-scalable=no">
	<link rel="stylesheet" href="../public/css/infomation/news.css">
</head>
<body>
	<header class="header">
		<div class="info_box">
			<div class="news" onclick="hrefToNews()">消息</div>
			<div class="notice" onclick="hrefToNotice()">通知</div>
			<div class="demand" onclick="hrefToDemand()">需求</div>
		</div>
	</header>
	<article>
		<h5>你眼中“最美夜滨江”摄影征集启动啦！</h5>
		<p>霓虹璀璨，凉风习习，越看越美，让人心醉。外滩，陆家嘴，徐汇滨江，北外滩......你眼中“醉美”的滨江夜景在哪里？</p>
		<time>08/04/13:06</time>
	</article>
	<article>
		<h5>你眼中“最美夜滨江”摄影征集启动啦！</h5>
		<p>霓虹璀璨，凉风习习，越看越美，让人心醉。外滩，陆家嘴，徐汇滨江，北外滩......你眼中“醉美”的滨江夜景在哪里？</p>
		<time>08/04/13:06</time>
	</article>
	<article>
		<h5>你眼中“最美夜滨江”摄影征集启动啦！</h5>
		<p>霓虹璀璨，凉风习习，越看越美，让人心醉。外滩，陆家嘴，徐汇滨江，北外滩......你眼中“醉美”的滨江夜景在哪里？</p>
		<time>08/04/13:06</time>
	</article>
	<article>
		<h5>你眼中“最美夜滨江”摄影征集启动啦！</h5>
		<p>霓虹璀璨，凉风习习，越看越美，让人心醉。外滩，陆家嘴，徐汇滨江，北外滩......你眼中“醉美”的滨江夜景在哪里？</p>
		<time>08/04/13:06</time>
	</article>
	<article>
		<h5>你眼中“最美夜滨江”摄影征集启动啦！</h5>
		<p>霓虹璀璨，凉风习习，越看越美，让人心醉。外滩，陆家嘴，徐汇滨江，北外滩......你眼中“醉美”的滨江夜景在哪里？</p>
		<time>08/04/13:06</time>
	</article>
	
</body>
<script>
function hrefToNews(){location.href="news.html"}
function hrefToNotice(){location.href="notice.html"}
function hrefToDemand(){location.href="demand.html"}
</script>
</html>