<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登录</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,
		maximum-scale=1,minimum-scale=1,user-scalable=no">
	<link rel="stylesheet" href="../public/css/infomation/notice.css">
</head>
<body>
	<header class="header">
		<div class="info_box">
			<div class="news" onclick="hrefToNews()">消息</div>
			<div class="notice" onclick="hrefToNotice()">通知</div>
			<div class="demand" onclick="hrefToDemand()">需求</div>
		</div>
	</header>
</body>
<script>
function hrefToNews(){location.href="news.html"}
function hrefToNotice(){location.href="notice.html"}
function hrefToDemand(){location.href="demand.html"}
</script>
</html>