body {
  background: #efeff4;
  margin: 0;
}
.header {
  font-size: 20px;
  text-align: center;
  background: #fff;
  color: #ea5404;
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  line-height: 20px;
  padding: 3% 3%;
  border-bottom: 1px solid #d6d7dc;
}
.header img {
  width: 18px;
}
.header .icon_back {
  float: left;
}
.header .login {
  font-size: 14px;
  color: #333;
  float: right;
}
section {
  margin-top: 6%;
  background: #fff;
  font-size: 18px;
  padding: 0 12px;
  border-top: 1px solid #d6d7dc;
  border-bottom: 1px solid #d6d7dc;
  color: #333;
}
section div {
  height: 50px;
  line-height: 50px;
}
section div img {
  width: 20px;
  margin-bottom: -2px;
}
section div input {
  height: 30px;
  border: 0;
  outline: none;
  width: 36%;
}
section div .get_code {
  float: right;
  width: 26%;
  height: 44%;
  font-size: 12px;
  margin-top: 5%;
  background: #ea5404;
  border: 0;
  color: #fff;
  border-radius: 4px;
}
section .line {
  height: 1px;
  border-top: 1px Solid #d6d7dc;
}
.btn_sure {
  width: 94%;
  position: relative;
  left: 12px;
  right: 12px;
  margin-top: 40px;
  height: 44px;
  font-size: 18px;
  color: #fff;
  background: #c7c7c7;
  border: 0;
  outline: none;
  border-radius: 5px;
}
