<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>安居源-南京鸿鸣网络科技有限公司</title>
	<meta name="keywords" content="南京鸿鸣网络科技有限公司">
	<meta name="description" content="南京鸿鸣网络科技有限公司务涉及网站开发，手机APP开发，以及游戏开发运营等，
	秉承“助力职场，成就梦想”的理念，致力于中国移动互联网研发人才一体化服务，全力打造移动互联网高端研发人才服务平台。
	 集团目前拥有100多项专利产品，50多个APP项目，500家合作企业。">
	<meta name="viewport" content="width=device-width,initial-scale=1,
		maximum-scale=1,minimum-scale=1,user-scalable=no">
	<link rel="stylesheet" href="../public/css/login/login.css">
</head>
<body>
	<header class="header">
		<span><img src="../public/img/login/nav_back_icon@2x.png" alt=""></span>
		登录
	</header>
	<section>
		<div>
			<img src="../public/img/login/content_ID_icon@2x.png">
			账号:<input type="text" id="ID" placeholder="请输入手机号码">
		</div>
		<div class="line"></div>
		<div>
			<img src="../public/img/login/content_password_icon@2x.png">
			密码:<input type="password" placeholder="请输入您的账号密码">
		</div>
	</section>
	<button class="btn_login" onclick="hrefToHome()">
		登录
	</button>
	<div class="register_and_forget">
		<span class="register" onclick="hrefToRegister()">注册</span>
		<span class="forget" onclick="hrefToForget()">忘记密码？</span>
	</div>
</body>
<script>
function hrefToForget(){
	location.href="forget.html"
}
function hrefToRegister(){
	location.href="register.html"
}
function hrefToHome(){
	location.href="../homepage/home.html"
}
</script>
</html>