<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>安居源-南京鸿鸣网络科技有限公司</title>
	<meta name="keywords" content="南京鸿鸣网络科技有限公司">
	<meta name="description" content="南京鸿鸣网络科技有限公司务涉及网站开发，手机APP开发，以及游戏开发运营等，
	秉承“助力职场，成就梦想”的理念，致力于中国移动互联网研发人才一体化服务，全力打造移动互联网高端研发人才服务平台。
	 集团目前拥有100多项专利产品，50多个APP项目，500家合作企业。">
	<meta name="viewport" content="width=device-width,initial-scale=1,
		maximum-scale=1,minimum-scale=1,user-scalable=no">
	<link rel="stylesheet" href="../public/css/login/middleman.css">
</head>
<body>
	<header class="header">
		<span onclick="backToLogin()"><img src="../public/img/login/nav_back_icon@2x.png" alt=""></span>
		经纪人
	</header>
	<div class="interval">必填项</div>
	<section>
		<div class="add_portrait_box">
			<div class="add_portrait">
				添加头像
				<input type="file" accept="image/*">
			</div>
		</div>
		<div class="line_box">
			<div class="line_half"></div>
		</div>
		<div class="input">
			<input type="text" placeholder="姓名">
		</div>
		<div class="white_space"></div>
		<div class="input">
			<input type="password" placeholder="所属公司">
		</div>
		<div class="white_space"></div>
		<div class="input">
			<input type="password" placeholder="联系方式">
		</div>
		<div class="white_space"></div>
		<div class="input">
			<input type="password" placeholder="擅长商圈">
		</div>
		<div class="others">
			<div class="others_content" id="card">名片正面</div>
		</div>
	</section>
	<div class="interval">选填项</div>
	<section>
	<div class="others">
		<div class="others_content">全国经济人证书</div>
	</div>
	</section>
	<button class="btn_login">
		完成
	</button>
</body>
<script>
function backToLogin(){
	location.href="register.html"
}

</script>
</html>