<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>安居源-南京藤蔓达网络科技有限公司</title>
	<meta name="keywords" content="南京藤蔓达网络科技有限公司">
	<meta name="description" content="南京藤蔓达网络科技有限公司务涉及网站开发，手机APP开发，以及游戏开发运营等，
	秉承“助力职场，成就梦想”的理念，致力于中国移动互联网研发人才一体化服务，全力打造移动互联网高端研发人才服务平台。
	 集团目前拥有100多项专利产品，50多个APP项目，500家合作企业。">
	<meta name="viewport" content="width=device-width,initial-scale=1,
		maximum-scale=1,minimum-scale=1,user-scalable=no">
	<link rel="stylesheet" href="../public/css/information/notice.css">
</head>
<body>
	<header class="header">
		<div class="info_box">
			<div class="news" onclick="hrefToLocalNews()">消息</div>
			<div class="notice" onclick="hrefToNotice()">通知</div>
			<div class="demand" onclick="hrefToDemand()">需求</div>
		</div>
	</header>
	<div class="news_interval"></div>
	<article>
		<div><h5>房源维护提示</h5><time>08/04/13:06</time></div>
		<p>您在本平台上传一处房源信息，现在有效期马上就要到了，请到“我发布的房源”中更新动态，5天后该房源将自动下架。</p>
		<span>地址：徐汇-龙华 科技大厦</span>
	</article>
	<article>
		<h5>房源维护提示<time>08/04/13:06</time></h5>
		<p>您在本平台上传一处房源信息，现在有效期马上就要到了，请到“我发布的房源”中更新动态，5天后该房源将自动下架。</p>
		<span>地址：徐汇-龙华 科技大厦</span>
	</article>
	<div class="news_interval"></div>
	<footer class="bottom_nav">
		<div class="bottom_icon" id="bottom_home_cell" onclick="hrefToHome()">
			<img src="../public/img/information/bottom_nor_icon04@2x.png" alt="">
			<p >首页</p>
		</div>
		<div class="bottom_icon" id="bottom_news_cell" onclick="hrefToAppointment()">
			<img src="../public/img/information/bottom_nor_icon03@2x.png" alt="">
			<p>预约</p>
		</div>
		<div class="bottom_icon" id="bottom_add_cell">
			<img id="more" src="../public/img/information/bottom_icon05@2x.png" alt="">
		</div>
		<div class="bottom_icon" id="bottom_appointment_cell" onclick="hrefToNews()">
			<img src="../public/img/information/bottom_press_icon02@2x.png" alt="">
			<p class="active">信息</p>
		</div>
		<div class="bottom_icon" id="bottom_me_cell" onclick="hrefToMe()">
			<img src="../public/img/information/bottom_nor_icon01@2x.png" alt="">
			<p>我</p>
		</div>
	</footer>
</body>
<script src="../public/js/hypertext_reference.js"></script>
</html>