<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>安居源-南京藤蔓达网络科技有限公司</title>
	<meta name="keywords" content="南京藤蔓达网络科技有限公司">
	<meta name="description" content="南京藤蔓达网络科技有限公司务涉及网站开发，手机APP开发，以及游戏开发运营等，
	秉承“助力职场，成就梦想”的理念，致力于中国移动互联网研发人才一体化服务，全力打造移动互联网高端研发人才服务平台。
	 集团目前拥有100多项专利产品，50多个APP项目，500家合作企业。">
	<meta name="viewport" content="width=device-width,initial-scale=1,
		maximum-scale=1,minimum-scale=1,user-scalable=no">
	<link rel="stylesheet" href="../../public/css/homepage/home.css">
</head>
<body>
	<div class="city">
		<div class="city_choice">
			上海<img src="../../public/img/homepage/nav_icon_down@2x.png" alt="">
		</div>
	</div>
	<header class="header">
		<div class="header_nav">
			<h3>安居源</h3>
			<div class="search_box">
				<img src="..\public\img\homepage\banner_icon_search@2x.png" alt="">
				<input type="search" placeholder="挑好房，上安居源">
			</div>
		</div>
		<ul class="circle_box">
			<li class="btn"><img src="../public/img/homepage/banner_icon_point_nor@2x.png" alt=""></li>
			<li class="btn"><img src="../public/img/homepage/banner_icon_point_press@2x.png" alt=""></li>
			<li class="btn"><img src="../public/img/homepage/banner_icon_point_nor@2x.png" alt=""></li>
			<li class="btn"><img src="../public/img/homepage/banner_icon_point_nor@2x.png" alt=""></li>
		</ul>
		<ul class="carousel" id="carousel">
			<li class="carousel-li"><img src="../public/img/homepage/banner_img@2x.png" alt=""></li>
			<li class="carousel-li"><img src="../public/img/homepage/banner_img@2x.png" alt=""></li>
			<li class="carousel-li"><img src="../public/img/homepage/banner_img@2x.png" alt=""></li>
			<li class="carousel-li"><img src="../public/img/homepage/banner_img@2x.png" alt=""></li>
		</ul>
	</header>
	<nav class="menus">
		<div class="menu" id="menu_region" onclick="">
			<h5>区域</h5>
			<img class="down" src="../../public/img/homepage/content_icon02_nor@2x.png" alt="">
			<img class="down2 down_active" src="../../public/img/homepage/content_icon02_press@2x.png" alt="">
		</div>
		<div class="menu" id="menu_area">
			<h5>面积</h5>
			<img class="down" src="../../public/img/homepage/content_icon02_nor@2x.png" alt="">
			<img class="down2 down_active" src="../../public/img/homepage/content_icon02_press@2x.png" alt="">
		</div>
		<div class="menu" id="menu_unit-price">
			<h5>单价</h5>
			<img class="down" src="../../public/img/homepage/content_icon02_nor@2x.png" alt="">
			<img class="down2 down_active" src="../../public/img/homepage/content_icon02_press@2x.png" alt="">
		</div>
		<div class="menu" id="menu_text_more">
			<h5>更多</h5>
			<img class="down" src="../../public/img/homepage/content_icon02_nor@2x.png" alt="">
			<img class="down2 down_active" src="../../public/img/homepage/content_icon02_press@2x.png" alt="">
		</div>
		<div class="menu" id="menu_money">
			<img class="down" src="../../public/img/homepage/content_icon01_nor@2x.png" alt="">
		</div>
	</nav>
	<div class="regions_hidden_box">
		<ul class="regions" id="regions_towns">
			<li>全部</li>
			<li>闵行</li>
			<li id="area_pudong">浦东</li>
			<li>嘉定</li>
			<li>宝山</li>
			<li>闸北</li>
			<li>松江</li>
			<li>徐汇</li>
			<li>普陀</li>
		</ul>
		<ul class="regions" id="regions_details">
			<li><p>全部</p></li>
			<li><p>八佰伴</p></li>
			<li><p>川沙</p></li>
			<li><p>花木</p></li>
			<li><p>金桥</p></li>
		</ul>
	</div>
	<div ></div>

	<section class="details">
		<div class="details_pic">
			<img src="../public/img/homepage/content_img_list@2x.png" alt="">
		</div>
		<div class="details_txt">
			<h3>东方金融中心</h3>
			<span class="detail_like" onclick="liked(this)"></span>
			<p class="detail_address">浦东-八佰伴</p>
			<button class="detail_btn">商务中心</button>
			<p class="detail_data"><i>&yen;4</i>元/平米/天起</p>
			<span class="detail_data_Commission">佣金：1个月</span>
		</div>
	</section>
	<section class="details">
		<div class="details_pic">
			<img src="../public/img/homepage/content_img_list@2x.png" alt="">
		</div>
		<div class="details_txt">
			<h3>东方金融中心</h3>
			<span class="detail_like" onclick="liked(this)"></span>
			<p class="detail_address">浦东-八佰伴</p>
			<button class="detail_btn">商务中心</button>
			<p class="detail_data"><i>&yen;4</i>元/平米/天起</p>
			<span class="detail_data_Commission">佣金：1个月</span>
		</div>
	</section>
	<section class="details">
		<div class="details_pic">
			<img src="../public/img/homepage/content_img_list@2x.png" alt="">
		</div>
		<div class="details_txt">
			<h3>东方金融中心</h3>
			<span class="detail_like" onclick="liked(this)"></span>
			<p class="detail_address">浦东-八佰伴</p>
			<button class="detail_btn">商务中心</button>
			<p class="detail_data"><i>&yen;4</i>元/平米/天起</p>
			<span class="detail_data_Commission">佣金：1个月</span>
		</div>
	</section>
	<section class="details">
		<div class="details_pic">
			<img src="../public/img/homepage/content_img_list@2x.png" alt="">
		</div>
		<div class="details_txt">
			<h3>东方金融中心</h3>
			<span class="detail_like" onclick="liked(this)"></span>
			<p class="detail_address">浦东-八佰伴</p>
			<button class="detail_btn">商务中心</button>
			<p class="detail_data"><i>&yen;4</i>元/平米/天起</p>
			<span class="detail_data_Commission">佣金：1个月</span>
		</div>
	</section>
	<section class="details">
		<div class="details_pic">
			<img src="../public/img/homepage/content_img_list@2x.png" alt="">
		</div>
		<div class="details_txt">
			<h3>东方金融中心</h3>
			<span class="detail_like" onclick="liked(this)"></span>
			<p class="detail_address">浦东-八佰伴</p>
			<button class="detail_btn">商务中心</button>
			<p class="detail_data"><i>&yen;4</i>元/平米/天起</p>
			<span class="detail_data_Commission">佣金：1个月</span>
		</div>
	</section>
	<div class="new_interval"></div>
	<footer class="bottom_nav">
		<div class="bottom_icon" id="bottom_home_cell" onclick="hrefToHome()">
			<img src="../../public/img/information/bottom_press_icon04@2x.png" alt="">
			<p class="active">首页</p>
		</div>
		<div class="bottom_icon" id="bottom_news_cell" onclick="hrefToAppointment()">
			<img src="../../public/img/information/bottom_nor_icon03@2x.png" alt="">
			<p>预约</p>
		</div>
		<div class="bottom_icon" id="bottom_add_cell">
			<div id="other_choice" ><span onclick="hrefToLogin()">切换账号</span><span>退出登录</span></div>
			<img id="add" onclick="other_choice()" src="../../public/img/information/bottom_icon05@2x.png" alt="">
		</div>
		<div class="bottom_icon" id="bottom_appointment_cell" onclick="hrefToNews()">
			<img src="../../public/img/information/bottom_nor_icon02@2x.png" alt="">
			<p>信息</p>
		</div>
		<div class="bottom_icon" id="bottom_me_cell" onclick="hrefToMe()">
			<img src="../../public/img/information/bottom_nor_icon01@2x.png" alt="">
			<p>我</p>
		</div>
	</footer>
</body>
<script src="../../public/js/hypertext_reference.js"></script>
<!--<script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>-->
<script src="https://cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
<script src="../../public/minjs/zepto/touch.js"></script>

<script>
function liked(obj){
	var img=obj.style.backgroundImage;
	if(img== 'url("../../public/img/homepage/collect_icon_press@2x.png")'){
		obj.style.backgroundImage="url('../../public/img/homepage/collect_icon_nor@2x.png')"
	}
	else{
		obj.style.backgroundImage= "url('../../public/img/homepage/collect_icon_press@2x.png')";
	}
}
var offLogin=document.getElementById("other_choice");
function other_choice(){
	var off=offLogin.style.display;
	if(off=="none"||off==""){
		offLogin.style.display = "flex"
	}else{
		offLogin.style.display = "none"
	}
}

$(document).ready(function(){
	$("#menu_region").on("tap",function(){
		$(".regions_hidden_box").toggle();
		if($(this ).hasClass("menu_active")){
			$(this ).removeClass("menu_active");
			$(this ).children(".down2" ).addClass("down_active");
			$(this ).children(".down").removeClass("down_active");
		}else{
			$(this ).addClass("menu_active");
			$(this ).children(".down" ).addClass("down_active");
			$(this ).children(".down2").removeClass("down_active");
		}
	});

	$("#area_pudong" ).on("tap",function(){

		$("ul#regions_details p" ).css("display","block");

	})
});


</script>
</html>